* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    
}



.link-test {
    text-align: center;
    background-color: white;
    display: flex;
    padding: 20px 100px;
    list-style: none;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    margin-bottom: 5vh;
}

.link-test li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "Poppins", Helvetica, sans-serif;
}

.link-test li a.active {
    color: #900;

}

.activity {
    height: 50vh;
    color: #fff;
    font-size: 25px;
    transition: 0.5s ease-out;
    background-color: #900;
    
}
p.activity {
    border-style: solid;
    opacity:initial;
}
 .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
} 
.container  li{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  
}

.container .img-1{
    
    background-image: url(../../Home-for-a-Growing-Family.jpg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}
#nav-container{
    position: fixed;
    opacity: 100% !important;
    z-index: 9;
}
.home {
    
    max-height: 33.3vh;
    /* width: 100vw; */
    transition: 0.5s ease-out;
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.home p {

/* border-style: solid; */
padding-top: 1em;
font-family: "Poppins", Helvetica, sans-serif;
}

.clickButton{
    display: flex;
    width: 100vw;
    align-content: center;
}



 #clicked {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50vw;
    font-size: 18px;
    border: none;
    outline: none;
    /* z-index: 99; */
    background-color: rgb(172, 171, 171);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    
  }

  #clicked:hover {
    background-color: #555;
  } 
  